@font-face {
    font-family: 'Prompt';
    src: url(../font/Prompt-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-bottom: #eee 1px solid;
    box-shadow: #eee 0 0 0 1px;
}

nav h2 span {
    color: white;
}

main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main h2 {
    margin-top: 30px;
}

.Order-list {
    width: 60%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Order-item {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: #eee 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px 0;
}


.btn button {
    padding: 5px 10px;
    color: red;
    outline: none;
    border: Red 2px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn button:hover {
    background-color: red;
    color: white;

}

div p span {
    color: red;
    font-size: 1.1rem;
}


.item-detail > *{
    margin: 5px 10px;
}

.item-detail h3 {
    width: 100%;
    margin: 5px 10px;
    display: flex;
}

.item-detail h3 .multiply {
    color: gray;
    font-size: 0.8rem;
}

.item {
    margin: 10px 5px;
}

.item > * {
    width: 100%;
    margin: 5px 10px;
}

.multiply {
    margin: 0 15px;
}

.content {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-btn button{
    color: black !important;
    transition: all 0.1s ease-in-out;
}

.nav-btn button:hover {
    background-color:#b0b0b0;
}