@font-face {
    font-family: 'Prompt';
    src: url(../font/Prompt-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-bottom: #eee 1px solid;
    box-shadow: #eee 0 0 0 1px;
    z-index: 80;
}

nav h2 span {
    color: white;
}

main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .content {
    width: 90%;
    max-width: 1200px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-list {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px;
    width: 100%;
}

.menu-list > * {
    margin: 15px;
} 

.menu-item {
    border-radius: 8px;
    border-top: red 3px solid;
    border-bottom: #eee 1px solid;
    border-left: #eee 1px solid;
    border-right: #eee 1px solid;
    box-shadow: #eee 0 0 2px 2px;
    overflow: hidden;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.menu-item:hover {
    box-shadow: #eee 0 0 15px 2px;
    transform: translateY(-3px);
}

.menu-item .info {
    margin: 15px;
}

.info .frist-row {
    font-weight: 700;
    font-size: 1.25rem;
}

.secon-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
    color: gray;
}

.menu-item img {
    object-fit: cover;
    width: 100%;
    height: 180px;
}

.price span {
    font-size: 1.2rem;
    color: red;
}

.btn button {
    padding: 5px 10px;
    color: red;
    outline: none;
    border: Red 2px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn button:hover {
    background-color: red;
    color: white;
}

.content {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-btn button {
    color: black !important;
    transition: all 0.1s ease-in-out;
}


.yellow {
    background-color: yellow;
}

.yellow:hover {
    background-color: rgb(255, 255, 130) !important;
    transform: translateY(-1px);
}

#popup-cart {
    top: 0;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    z-index: 100;
}

.cart {
    width: 90%;
    max-width: 400px;
    position: fixed;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: #eee 1px solid;
    box-shadow: #eee 0 0 10px 5px;
}

.cart header {
    display: flex !important;
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
}

.close-btn button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.cart table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

table thead tr td,
table tbody tr td {
    border-bottom: #eee 1px solid;
    padding: 8px 0;
    text-align: center;
}