@font-face {
    font-family: 'Prompt';
    src: url(../font/Prompt-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-bottom: #eee 1px solid;
    box-shadow: #eee 0 0 0 1px;
}

nav h2 span {
    color: white;
}

main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .content {
    width: 60%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-list {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.menu-list > * {
    margin: 15px;
}

.menu-item {
    border-radius: 8px;
    border: red 3px solid;
    overflow: hidden;
    box-shadow: red 1 1 1 1px;
    padding-bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-item .info {
    margin: 15px;
}

.info .frist-row {
    font-weight: 700;
    font-size: 1.25rem;
}

.secon-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
    color: gray;
}

.menu-item img{
    width: 250px;
}

.price span {
    font-size: 1.2rem;
    color: red;
}

.btn button {
    padding: 5px 10px;
    color: red;
    outline: none;
    border: Red 2px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn button:hover {
    background-color: red;
    color: white;

}