@font-face {
    font-family: 'Prompt';
    src: url(../font/Prompt-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: fit-content;
    border: #eee 3px solid;
    border-radius: 12px;
    box-shadow: #eee 1 1 1 1px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

form > * {
    margin: 15px 0;
}

.username, .password {
    display: flex;
    flex-direction: column;
}

.username > *, .password > *{
    margin: 5px 0 0 0;
}

.username > input, .password > input{
    padding: 3px 6px;
    outline: none;
    border: #eee 2px solid;
    border-radius: 5px;
}

.btn button {
    padding: 5px 10px;
    background: white;
    color: red;
    outline: none;
    border: Red 2px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn button:hover {
    background-color: red;
    color: white;

}